.App {
  text-align: center;
}

.App {
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 120px 1fr;

}

.App-nav {
  grid-area: sidebar;
  height: 100px;
}

.App-header {
  grid-area: header;
}

.App-main {
  grid-area: main;
}