
.App header {
  background-color: #05083b;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App header a {
  text-decoration: none;
  color: black;
}

h1 {
  color: #FCFCFC;
  margin: 0;
}

.App_sections {
  display: flex;
}

.App_nav {
  flex: 2;
  background-color: #232768;
  text-align: right;
}

.App_main {
  flex: 4;
  background-color: #aca9c5;
}